<div class="container-fluid mt-2 pt-3 d-flex justify-content-center">
  <div class="card" style="width: 50rem">
    <div class="card-body">
      <div class="wpb_wrapper">
        <p>Untuk tahap selanjutnya silahkan klik lanjutkan</p>
        <a href="/ip/auth/login" class="btn btn-primary">Lanjutkan</a>
      </div>
    </div>
  </div>
</div>
