<div class="container-fluid mt-5 pt-5 d-flex justify-content-center">
  <div class="card" style="width: 50rem">
    <% sop.forEach((item)=>{ %>

    <div class="card-header text-center">
      <b><%= item.title %></b>
    </div>

    <div class="card-body">
      <div class="wpb_wrapper">
        <ol>
          <% item.data.forEach((sopItem)=>{ %>
          <li><%= sopItem %></li>

          <% }) %>
        </ol>
      </div>

      <% }) %>
      <div>
        <h6>Narahubung</h6>
        <ul>
          <li>WA/ Telpon: 0853 5301 6477</li>
          <li>Email : diskominfo@tasikmalayakab.go.id</li>
          <li>Kotak Saran dan Masukan</li>
          <li>Menyampaikan secara langsung di ruang pelayanan</li>
        </ul>
      </div>
    </div>
    <div class="card-footer">
      <a href="#go_to_ITSM" class="btn btn-primary float-end">Lihat detail</a>
    </div>
  </div>
</div>
