<footer>
  &copy; Dishubkominfo Kab. Tasikmalaya
  <span id="date"></span>
</footer>
<script>
  const dateContainer = document.getElementById("date");
  const currentDate = new Date().getFullYear();
  dateContainer.innerHTML = currentDate;
</script>
