<!-- Footer -->
<section
  class="container-fluid mt-5 pt-5 text-white"
  style="background-color: rgb(15, 3, 49); border-radius: 10px;">
  <div class="">
    <div class="ps-sm-5" style="height: 8rem">
      <div class="d-flex gap-4 align-items-center">
        <img src="/dishub.png" alt="" style="height: 5rem" />
        <h5 class="fw-bold">
          DISHUBKOMINFO KAB TASIKMALAYA
          <span id="date"></span>
        </h5>
      </div>
    </div>
  </div>
</section>
<!-- end Footer-->
<script>
  const dateContainer = document.getElementById("date");
  const currentDate = new Date().getFullYear();
  dateContainer.innerHTML = currentDate;
</script>
