<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Jumlah Aplikasi desa</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

    <title>Document</title>
  </head>
  <body style="background-color: #d0d4ff">
    <%- include('components/navbar')%>

    <div class="mt-5 pt-5">
      <div class="container d-flex justify-content-center">
        <div class="card shadow" style="width: 50rem">
          <div class="card-header">
            <h2 class="text-center">Jumlah Aplikasi Desa</h2>
          </div>
          <div class="card-body">
            <table
              class="table table-hover table-borderless mt-5 pt-4 p-1 text-center"
              id="jumlah_desa">
              <thead class="table-primary">
                <tr>
                  <th>No</th>
                  <th>Nama Desa</th>
                  <th>Kecamatan</th>
                  <th>Jumlah Aplikasi</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Nanggerang</td>
                  <td>Cigalontang</td>
                  <td>2</td>
                  <td>
                    <!-- button -->
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                      Detail
                    </button>
                  </td>
                  <!-- modal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            <b>Aplikasi</b>
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <ol>
                            <li>aplikasi a</li>
                            <li>aplikasi b</li>
                          </ol>
                        </div>
                        <div class="modal-footer">
                          <a
                            href="/ip/jumlah_aplikasi_desa"
                            class="btn btn-primary">
                            OK
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <tr>
                  <td>2</td>
                  <td>Padakembang</td>
                  <td>Singaparna</td>
                  <td>2</td>
                  <td>
                    <!-- button -->
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                      Detail
                    </button>
                  </td>
                  <!-- modal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            <b>Aplikasi</b>
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <ol>
                            <li>aplikasi a</li>
                            <li>aplikasi b</li>
                          </ol>
                        </div>
                        <div class="modal-footer">
                          <a
                            href="/ip/jumlah_aplikasi_desa"
                            class="btn btn-primary">
                            OK
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <tr>
                  <td>3</td>
                  <td>Padakembang</td>
                  <td>Singaparna</td>
                  <td>2</td>
                  <td>
                    <!-- button -->
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                      Detail
                    </button>
                  </td>
                  <!-- mdal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            <b>Aplikasi</b>
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <ol>
                            <li>aplikasi a</li>
                            <li>aplikasi b</li>
                          </ol>
                        </div>
                        <div class="modal-footer">
                          <a
                            href="/ip/jumlah_aplikasi_desa"
                            class="btn btn-primary">
                            OK
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <tr>
                  <td>4</td>
                  <td>Padakembang</td>
                  <td>Singaparna</td>
                  <td>2</td>
                  <td>
                    <!-- button -->
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                      Detail
                    </button>
                  </td>
                  <!-- mdal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            <b>Aplikasi</b>
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <ol>
                            <li>aplikasi a</li>
                            <li>aplikasi b</li>
                          </ol>
                        </div>
                        <div class="modal-footer">
                          <a
                            href="/ip/jumlah_aplikasi_desa"
                            class="btn btn-primary">
                            OK
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <section
      class="container-fluid mt-5 pt-5 text-white"
      style="background-color: rgb(15, 3, 49)">
      <div class="row gap-4">
        <div class="col-lg-5 d-block" style="height: 16rem">
          <div class="d-flex gap-4 align-items-center">
            <img src="/dishub.png" alt="" style="height: 5rem" />
            <h5 class="fw-bold">DISHUBKOMINFO KAB TASIKMALAYA</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <h5>Kontak</h5>
          <ul class="p-1" style="list-style: none">
            <li>+625678908765</li>
            <li>dishubkominfo@tasikmalayakab.go.id</li>
            <li>
              J4QT+MHC, Sukaasih, Kec.Singaparna, Kab.Tasikmalaya, Jawa barat
              46415
            </li>
          </ul>
        </div>
        <div class="col-lg-2">
          <h5>Navigasi</h5>
          <ul class="p-1" style="list-style: none">
            <li>Tentang</li>
            <li>Layanan</li>
            <li>Kerjasama</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end Footer-->

    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- DataTable JS -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#jumlah_desa").DataTable();
      });
    </script>
  </body>
</html>
