<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Jumlah Aplikasi desa</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body style="background-color: #d0d4ff">
    <%- include('components/navbar')%>

    <div class="pt-5" style="margin-block: 5rem">
      <div class="container d-flex justify-content-center">
        <div class="card shadow" style="width: 50rem">
          <div class="card-header">
            <h2 class="text-center">Aplikasi yang digunakan oleh Desa</h2>
          </div>
          <div class="container mt-5">
            <div class="d-flex justify-content-center gap-3 mb-5">
              <div
                class="card shadow-sm"
                style="
                  width: max-content;
                  background-color: rgb(236, 148, 16);
                  border: none;
                ">
                <div
                  class="card-body d-flex align-items-center justify-content-between gap-3 text-white">
                  <h5 class="card-title">Jumlah Desa</h5>
                  <h5>:</h5>
                  <h5>351</h5>
                </div>
              </div>
              <div
                class="card shadow-sm"
                style="
                  width: max-content;
                  background-color: rgb(57, 28, 223);
                  border: none;
                ">
                <div
                  class="card-body d-flex align-items-center justify-content-between gap-3 text-white">
                  <h5 class="card-title">Jumlah Aplikasi</h5>
                  <h5>:</h5>
                  <h5><%=data%></h5>
                </div>
              </div>
            </div>

            <p>
              Saat ini, di Kabupaten Tasikmalaya, perkembangan teknologi telah
              mencapai berbagai aspek kehidupan masyarakat, termasuk
              pemerintahan desa. Dari yang 351 desa yang ada di seluruh
              kabupaten, sebanyak <%=data%> aplikasi telah berhasil
              mengimplementasikan aplikasi khusus yang dirancang untuk
              meningkatkan efektivitas dan efisiensi pelayanan publik di tingkat
              desa. Penggunaan aplikasi ini merupakan langkah strategis dalam
              mendorong digitalisasi pelayanan desa, yang sejalan dengan visi
              pemerintah untuk memperkuat tata kelola desa melalui pemanfaatan
              teknologi.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <section
      class="container-fluid mt-5 pt-5 text-white"
      style="background-color: rgb(15, 3, 49)">
      <div class="row gap-4">
        <div class="col-lg-5 d-block" style="height: 16rem">
          <div class="d-flex gap-4 align-items-center">
            <img src="/dishub.png" alt="" style="height: 5rem" />
            <h5 class="fw-bold">DISHUBKOMINFO KAB TASIKMALAYA</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <h5>Kontak</h5>
          <ul class="p-1" style="list-style: none">
            <li>+625678908765</li>
            <li>dishubkominfo@tasikmalayakab.go.id</li>
            <li>
              J4QT+MHC, Sukaasih, Kec.Singaparna, Kab.Tasikmalaya, Jawa barat
              46415
            </li>
          </ul>
        </div>
        <div class="col-lg-2">
          <h5>Navigasi</h5>
          <ul class="p-1" style="list-style: none">
            <li>Tentang</li>
            <li>Layanan</li>
            <li>Kerjasama</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end Footer-->

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
