<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Portal Layanan Bidang Informatika Persandian</title>
  </head>

  <body>
    <%- include('components/navbar')%>
    

    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="height: 75vh"
        data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1561736778-92e52a7769ef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="d-block w-100"
          style="object-fit: cover"
          alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h1><b>SELAMAT DATANG</b></h1>
          <h2>Di Bidang IP</h2>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-12 mt-3 p-5 pt-2">
          <h3>Layanan Bidang IP</h3>
          <hr class="bg-secondary" />
          <div
            class="d-flex justify-content-center gap-4 flex-wrap text-center">
            <div class="card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pengajuan Server</h5>
                <a href="/ip/pengajuan-server" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pengajuan Sideka</h5>
                <a href="/ip/pengajuan-sideka" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pengajuan Pemasangan Insfrastuktur</h5>
                <a
                  href="/ip/pengajuan-pemasangan-insfrastuktur"
                  class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pembuatan Akun Drive</h5>
                <a href="/ip/pemubuatan-akun-drive" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">
                  Pembuatan Akun Email @tasikmalayakab.go.id
                </h5>
                <a href="/ip/pembuatan-akun-email" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Permohonan Domain</h5>
                <a href="/ip/permohonan-domain" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Penyimpanan Server di Diskominfo</h5>
                <a href="/ip/penyimpanan-server" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
