<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <link rel="stylesheet" href="/login.css">
    <title>Portal Layanan Bidang Informatika Persandian</title>
  </head>

  <body>
    <%- include('components/navbar')%>
    

    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="height: 75vh"
        data-bs-interval="10000">
        <img
          src="/bg-kominfo.jpg"
          class="d-block w-100"
          style="object-fit: cover"
          alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h1 class="text-header"><b>SELAMAT DATANG</b></h1>
          <h2 class="text-header">Di Bidang IP DISHUBKOMINFO</h2>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-12 mt-3 p-5 pt-2">
          <h3>Layanan Bidang IP</h3>
          <hr class="bg-secondary" />
          <div
            class="d-flex justify-content-center gap-4 flex-wrap text-center">
            <div class="card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pengajuan Server</h5>
                <a href="/ip/sop/pengajuan-server" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pengajuan Sideka</h5>
                <a href="/ip/sop/migrasi-sidekang" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pengajuan Pemasangan Insfrastuktur</h5>
                <a
                  href="/ip/sop/pengajuan-pemasangan-insfrastuktur"
                  class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Pembuatan Email E-Goverment</h5>
                <a href="/ip/sop/pembuatan-email-e-goverment" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">
                  Pembuatan Akun Email @tasikmalayakab.go.id
                </h5>
                <a href="/ip/sop/pembuatan-email-tasikmalayakab" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Permohonan Domain</h5>
                <a href="/ip/sop/pengajuan-domain" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>

            <div class="card card col-md-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Penyimpanan Server di Diskominfo</h5>
                <a href="/ip/sop/pengajuan-server" class="btn btn-primary">
                  Lihat Detail
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
