<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Dashboad Instansi</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
          BIDANG IP |
          <b>Instansi</b>
        </a>

        <div class="icon ml-4">
          <button class="btn btn-outline-light">
            <i class="bi bi-bell-fill"></i>
            Notifikasi
          </button>
          <button class="btn btn-outline-light">
            <i class="bi bi-box-arrow-right mr-3"></i>
            logout
          </button>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-3 bg-light mt-2 pr-2 pt-4">
          <ul class="nav flex-column ml-3 mb-5">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/dashboard-instansi">
                Pengajuan Server
              </a>
              <hr class="bg-secondary" />
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Pengajuan Sideka</a>
              <hr class="bg-secondary" />
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Pengajuan Pemasangan Insfrastruktur
              </a>
              <hr class="bg-secondary" />
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pembuatan Akun</a>
              <hr class="bg-secondary" />
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Pembuatan Akun Email @tasikmalayakab.go.id
              </a>
              <hr class="bg-secondary" />
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pemohonan Domain</a>
              <hr class="bg-secondary" />
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Penyimpanan Server di Diskominfo</a>
              <hr class="bg-secondary" />
            </li>
          </ul>
        </div>

        <div class="col-md-9 mt-4 p-5 pt-2">
          <h3><b>Overview</b></h3>
          <hr class="bg-secondary" />
          <div class="d-flex justify-content-between gap-5 text-center">
            <div class="card col-md-3" style="width: 15rem">
              <div class="card-body">
                <h5 class="card-title">Finish</h5>
                <span class="display-4 text-success">876</span>
              </div>
            </div>
            <div class="card col-md-3" style="width: 15rem">
              <div class="card-body">
                <h5 class="card-title">Pending</h5>
                <span class="display-4 text-warning">23</span>
              </div>
            </div>
            <div class="card col-md-3" style="width: 15rem">
              <div class="card-body">
                <h5 class="card-title">Rejected</h5>
                <span class="display-4 text-danger">3</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
