<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Formulir Pengajuan</title>
  </head>
  <body>
    <div class="container-fluid mt-5 pt-5 d-flex justify-content-center">
      <div class="card" style="width: 45rem">
        <h5 class="card-header my-3 text-center bg-transparent">
          <b>Form Pengajuan</b>
        </h5>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="exampleinstansi1" class="form-label">Instansi</label>
              <input
                type="email"
                class="form-control"
                id="exampleinstansi1"
                aria-describedby="instansi" />
            </div>
            <div class="mb-3">
              <label for="examplepengajuan2" class="form-label">
                Jenis Pengajuan
              </label>
              <select id="examplepengajuan2" class="form-select">
                <option selected disabled>Jenis Pengajuan</option>
                <option>Pengajuan Server</option>
                <option>Pengajuan Sideka</option>
                <option>Pengajuan Pemasangan Insfrastuktur</option>
                <option>Pembuatan Akun Drive</option>
                <option>Pembuatan Akun Email @tasikmalayakab.go.id</option>
                <option>Pemohonan Domain</option>
                <option>Penyimpanan Server</option>
              </select>
              <div class="mb-3 mt-3">
                <label for="exampleInputfile3" class="form-label">
                  Surat Pengajuan
                </label>
                <input
                  type="file"
                  class="form-control"
                  id="exampleInputfile3"
                  aria-describedby="Inputfile" />
              </div>
            </div>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Sumbit
            </button>
          </form>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <b>Pemberitahuan</b>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Pembuatan Akun Email berhasil diproses
                </div>
                <div class="modal-footer">
                  <a href="/instansi" class="btn btn-primary">OK</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
