<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Pembuatan Akun Email</title>
  </head>
  <body style="padding-bottom: 50rem">
    <%- include('components/navbar')%>

    <div class="container-fluid mt-5 pt-5 d-flex justify-content-center">
      <div class="card" style="width: 50rem">
        <div class="card-header text-center">
          <b>Pembuatan Akun Email @tasikmalayakab.go.id</b>
        </div>
        <div class="card-body">
          <div class="wpb_wrapper">
            <p>
              Berikut adalah standar operasional pelayanan pembuatan akun email
              @tasikmalayakab.go.id:
            </p>
            <ol>
              <li>Membuat surat permohonan dan lampiran disposisi.</li>
              <li>
                Surat permohonan pembuatan user ID email @tasikmalayakab.go.id
                diterima, diperiksa dan disposisikan surat kepada seksi yang
                relevan (LPSE, Aplikasi, dan Database).
              </li>
              <li>
                Setelah itu, surat permohonan diperiksa, diteliti, dan disetujui
                jika memenuhi syarat, diikuti dengan perintah pembuatan user ID
                berdasarkan permohonan tersebut.
              </li>
              <li>
                Selanjutnya, user ID email @tasikmalayakab.go.id dibuat dan
                draft surat persetujuan pembuatan user ID disiapkan.
              </li>
              <li>
                Draft surat persetujuan tersebut kemudian diperiksa, diteliti,
                dan disetujui, termasuk melakukan pengecekan email
                @tasikmalayakab.go.id user ID baru.
              </li>
              <li>
                Memeriksa, meneliti, dan menyetujui draft surat persetujuan dan
                pemberitahuan email @tasikmalayakab.go.id.
              </li>
              <li>
                Kemudian pengarsipan pembuatan email @tasikmalayakab.go.id.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2 pt-3 d-flex justify-content-center">
      <div class="card" style="width: 50rem">
        <div class="card-body">
          <div class="wpb_wrapper">
            <p>Untuk tahap selanjutnya silahkan klik lanjutkan</p>
            <a href="/ip/auth/login" class="btn btn-primary">Lanjutkan</a>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
