<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Jumlah Aplikasi desa</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Fasilitas alat zoom</title>
  </head>
  <body>
    <%- include('components/navbar')%>
    <!-- zoom -->
    <section>
      <div class="container">
        <div class="row mt-5">
          <h4 class="text-start mt-5 pt-3" style="color: rgb(5, 5, 15)">
            Fasilitas Alat-Alat Zoom
          </h4>
          <p class="text-start">
            Dinas Komunikasi dan Informatika (Kominfo) Kabupaten Tasikmalaya
            memiliki fasilitas mendukung untuk kegiatan virtual, seperti rapat
            daring dan konferensi video. Fasilitas ini mencakup peralatan Zoom
            yang memadai, seperti kamera berkualitas tinggi untuk menangkap
            gambar dengan jelas dan tajam, serta tripod yang memastikan
            stabilitas dan fleksibilitas posisi kamera selama penggunaan. Selain
            itu, tersedia pula ruangan Command Center yang dilengkapi dengan
            teknologi mutakhir, memberikan akses cepat dan kontrol penuh atas
            berbagai perangkat yang digunakan. Ruangan ini dirancang secara
            khusus untuk mengelola dan mengoordinasikan semua aspek komunikasi
            digital, sehingga memastikan setiap pertemuan virtual berjalan
            lancar dan efektif.
          </p>
          <div class="d-flex justify-content-center gap-4 pt-3">
            <div class="card card col-md-3 shadow">
              <img src="/camera.jpg" />
              <div class="card-body text-center">
                <h5 class="card-title">Camera</h5>
              </div>
            </div>

            <div class="card card col-md-3 shadow">
              <img src="/comand-center.jpg" />
              <div class="card-body text-center">
                <h5 class="card-title">Command Center</h5>
              </div>
            </div>

            <div class="card card col-md-3 shadow">
              <img src="/tripod.jpg" />
              <div class="card-body text-center">
                <h5 class="card-title">Tripod</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end zoom -->

    <!-- Footer -->
    <section
      class="container-fluid mt-5 pt-5 text-white"
      style="background-color: rgb(15, 3, 49)">
      <div class="row gap-4">
        <div class="col-lg-5 d-block" style="height: 16rem">
          <div class="d-flex gap-4 align-items-center">
            <img src="/dishub.png" alt="" style="height: 5rem" />
            <h5 class="fw-bold">DISHUBKOMINFO KAB TASIKMALAYA</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <h5>Kontak</h5>
          <ul class="p-1" style="list-style: none">
            <li>+625678908765</li>
            <li>dishubkominfo@tasikmalayakab.go.id</li>
            <li>
              J4QT+MHC, Sukaasih, Kec.Singaparna, Kab.Tasikmalaya, Jawa barat
              46415
            </li>
          </ul>
        </div>
        <div class="col-lg-2">
          <h5>Navigasi</h5>
          <ul class="p-1" style="list-style: none">
            <li>Tentang</li>
            <li>Layanan</li>
            <li>Kerjasama</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end Footer-->

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
