<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Penyimpanan Server</title>
  </head>
  <body style="padding-bottom: 50rem">
    <%- include('components/navbar')%>

    <div class="container-fluid mt-5 pt-5 d-flex justify-content-center">
      <div class="card" style="width: 50rem">
        <div class="card-header text-center">
          <b>Penyimpanan Server OPD di Ruang Server Diskominfo</b>
        </div>
        <div class="card-body">
          <div class="wpb_wrapper">
            <p>
              Berikut adalah standar operasional pelayanan penyimpanan server :
            </p>
            <ol>
              <li>
                Membuat surat permohonan penyimpanan server OPD di Ruang Server
                Diskominfo.
              </li>
              <li>
                Kemudian menerima, memeriksa, menyetujui dan mendisposisikan
                surat permohonan penyimpanan server OPD di Ruang Server
                Diskominfo pada bidang telematika dan persandian.
              </li>
              <li>
                Setelah itu, mendisposisikan surat pada seksi LPSE, Aplikasi dan
                Database.
              </li>
              <li>
                Selanjutnya, surat permohonan diperiksa, diteliti, dan
                disetujui, serta diperintahkan untuk membuat draft SLA (Service
                Level Agreement) antara Diskominfo dan OPD pemohon serta
                penyiapan teknis penyimpanan server di Ruang Server Diskominfo.
              </li>
              <li>
                Menerima disposisi dan membuat draft SLA dan penyiapan teknis
                penyimpanan server baru di ruang server.
              </li>
              <li>
                Kemudian draft SLA dan persiapan teknis kemudian diperiksa,
                diteliti, dan disetujui oleh Kepala Bidang, Sekretaris Dinas,
                dan Kepala Dinas secara berurutan.
              </li>
              <li>
                Setelah disetujui, SLA dikirimkan ke OPD pemohon untuk diterima,
                diperiksa, dan ditandatangani, kemudian dikirim kembali ke
                Diskominfo bersama server.
              </li>
              <li>
                Diskominfo menerima, memeriksa SLA yang telah ditandatangani,
                dan mendisposisikan surat berita acara penerimaan dan pemasangan
                server di Ruang Server Diskominfo.
              </li>
              <li>
                Persiapan berita acara penerimaan dan pemasangan server
                didisposisikan dan server diperiksa serta diterima.
              </li>
              <li>
                Draft berita acara penerimaan server dibuat, kemudian diperiksa,
                disetujui, dan ditugaskan pemasangan server dan koneksi dengan
                dinas pemohon.
              </li>
              <li>
                Pemasangan dan koneksi server dilakukan, dan setelah selesai,
                dilaporkan untuk pengecekan koneksi server.
              </li>
              <li>
                Setelah pengecekan selesai, informasi diberikan kepada dinas
                pemohon bahwa pemasangan dan koneksi telah sukses.
              </li>
              <li>
                Informasi konektivitas diterima, dilakukan dokumentasi SLA, dan
                inventarisasi server di Ruang Server diperbarui.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2 pt-3 d-flex justify-content-center">
      <div class="card" style="width: 50rem">
        <div class="card-body">
          <div class="wpb_wrapper">
            <p>Untuk tahap selanjutnya silahkan klik lanjutkan</p>
            <a href="/ip/auth/login" class="btn btn-primary">Lanjutkan</a>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
