<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <title>Pembuatan Akun Email</title>
  </head>
  <body style="padding-bottom: 50rem">
    <%- include('components/navbar')%> <%- include('components/card-sop',{sop})
    %>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
