<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/ip/dashboard">Home</a></li>
      <% if(type == 'desa'){ %>
      <li class="breadcrumb-item">Desa</li>
      <li class="breadcrumb-item active">Aplikasi</li>
      <% }else if(type == 'dinas'){ %>
      <li class="breadcrumb-item active">Dinas</li>

      <% }else if(type == 'blankspot'){ %>
      <li class="breadcrumb-item">Desa</li>
      <li class="breadcrumb-item active">Dinas</li>
      <% } %>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
