<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Login</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body style="background-color: rgb(255, 255, 255)">
    <div class="login-logo">
      <img src="/dishub.png" width="200 " />
    </div>
    <div class="container">
      <h1>Login</h1>
      <form action="/ip/auth/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            required />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
</html>
