<div class="row gap-5">
  <div class="card col-md-3" style="width: 16rem">
    <div class="card-body">
      <h5 class="card-title">Total Aplikasi</h5>
      <span class="display-4 text-primary"><%=data.total_aplikasi%></span>
    </div>
  </div>
  <div class="card col-md-3" style="width: 16rem">
    <div class="card-body">
      <h5 class="card-title">Total Aplikasi Desa</h5>
      <span class="display-4 text-primary"><%=data.total_aplikasi_desa%></span>
    </div>
  </div>
  <div class="card col-md-3" style="width: 16rem">
    <div class="card-body">
      <h5 class="card-title">Total Aplikasi Dinas</h5>
      <span class="display-5 text-primary"><%=data.total_aplikasi_dinas%></span>
    </div>
  </div>
  <div class="card col-md-3" style="width: 16rem">
    <div class="card-body">
      <h5 class="card-title">Desa Blankspot</h5>
      <span class="display-5 text-primary"><%=data.total_desa_blankspot%></span>
    </div>
  </div>
</div>
